input[type=text], textarea, input[type=email] {
    display: block;
    width: 95%;
    padding: 12px;
    margin: 10px 0px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

label {
    display: block;
    width: 100%;
    margin-top: 20px;
}

#message {
    height: 200px;
    font-family: inherit;
}

input[type=submit] {
    background-color: #4497f4;
    color: white;
    padding: 15px 25px;
    margin: 30px 0px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}
  
input[type=submit]:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}