
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*-------------------------------------
            HEADER
-------------------------------------*/

.main-head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #4497f4;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin: 5px 15px;
}

.header-logo a img {
    display: block;
    width: 175px;
}

.menu {
    padding: 10px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0px;
    align-items: center;
}

.menu ul li a {
    display: block;
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    opacity: 50%;
    font-family: Poppins, sans-serif;
    transition: all 0.3s ease-in-out;
}

.menu ul li a:hover, .menu ul li .current{
    opacity: 100%;
}

.menu ul li:last-child a{
    background-color: white;
    color: #4497f4;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 20px
}

/*-------------------------------------
            PAGE CONTENT
-------------------------------------*/

#content {
    margin: 5%;
}

#content-titles {
    margin: 10% 0 6% 0;
}

#content-titles h1 {
    font-family: "montserrat-regular", sans-serif;
    font-size: 45px;
    letter-spacing: -1px;
    color: #4497f4;
    margin: 0px;
}

#content-titles h3 {
    color: #4497f4;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.6;
}

/*-------------------------------------
            FOOTER
-------------------------------------*/

.main-foot {
    background-color: #4497f4;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
}

#contacts .icons ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.social-icon {
    display: block;
    width: 32px;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.social-icon:hover {
    display: block;
    width: 32px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

#footer-text {
    text-align: center;
    transition: 1s;
    transition-property:initial;
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
}

#footer-text p a:hover {
    color: rgba(255, 255, 255, 1);
}

#footer-text p a {
    color: rgba(255, 255, 255, 0.7);

}
