.download-badges {
    width: 25%;
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    justify-content: left;
    gap: 15px;
}

.download-badges li img {
    width: 100%;
    margin: 10px;
}