
#container {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 2em;
    box-shadow:  10px 10px rgb(0,0,75);
}

#content {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 5px 5px 2px;
}