article {
    margin: 5% 0% 5% 5%;
}

article h2 {
    color: #224C7A;
    margin: 0px;
    font-size: 25px;
    text-transform: uppercase;
}

article {
    color: #224C7A;
    font-size: large;
}

/*-------------------------------------
            ATTENDUS
-------------------------------------*/

#attendus ul li{
    padding: 5px;
}

article .subtitle {
    font-weight: 600;
}

#attendus .nb {
    opacity: 0.6;
    font-size: 15px;
    text-transform: lowercase;
}

/*-------------------------------------
            BAREME
-------------------------------------*/

#bareme h2 {
    margin: 0px;
}

#bareme ul li {
    margin: 15px 0px;
}

#bareme ul li p {
    margin: 0px;
}

#bareme .points {
    opacity: 0.7;
    font-weight: bold;
}

#bareme .proof {
    right: 0px;
    text-align: right;
}

.proof {
    color: #224C7A;
    opacity: 0.3;
}

.proof a {
    color: inherit;
    transition: all 0.15s ease-in-out;
}

.proof a:hover {
    color: #224C7A;
    opacity: 0.7;
    transition: all 0.15s ease-in-out;
}

#bareme .nelgie {
    text-transform: uppercase;
    color: #20a39e;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 14px;
}

#bareme .matteo {
    text-transform: uppercase;
    color: #ef5b5b;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 14px;
}

#bareme .paul-loup {
    text-transform: uppercase;
    color: #ffba49;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 14px;
}